<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>

    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <log4net>
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="C:\MigratioLogs\log -%date{yyyy-MM-dd-hh-mm-ss}.log" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="dd-MM-yyyy" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="100MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%2thread] %-5level - %logger - %property{r_object_id} - %message%newline" />
      </layout>
    </appender>
    <root>
      <!-- The log4net levels are ALL, DEBUG, INFO, WARN, ERROR, FATAL, OFF,DebugFormat-->
      <level value="All" />
      <appender-ref ref="FileAppender" />
    </root>
    <!--<filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="INFO" />
      <levelMax value="FATAL" />
    </filter>-->
  </log4net>

  <appSettings>
    <!--Azure Key Vault clientID -->
    <add key="TableName" value="dbo.ahfc_s_table_Migration"/>
    <!--<add key="SqlType" value="OnPremisesSQL"/>-->
    <add key="SqlType" value="AzureSQL"/>
    <add key="OnPremSqlDB" value="HondawipTest"/>
    <add key="OnPremSqlServer" value="SPFx\SQLEXPRESS"/>
    <add key="AzureSqlDB" value="hondamig"/>
    <add key="AzureSqlDBServer" value="tcp:ddms.database.windows.net,1433"/>
    <!--<add key="SourceFilepath" value="C:\AHFC\Responses.csv" />-->
    <!--<add key="connectionString" value="data source=SPFx\SQLEXPRESS;initial catalog=HondawipTest;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework providerName='System.Data.SqlClient" />-->
    <add key="ConnectionString" value="Server=tcp:ddms.database.windows.net,1433;Initial Catalog=hondamig;Persist Security Info=False;User ID=ddmsadmin;Password=MyHonda$2019;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
  </appSettings>

</configuration>